body {
    background-image: url("../img/book-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

.jumbotron, .card {
    background-color: maroon;
}

#survey-header {
    color: maroon;
}

img {
    width: 200px;
}

#results-modal {
    text-align: center;
    margin: 0 auto;
}